<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <h1>Dashboard</h1>
   

   <section class="flexbox">
        <!-- <h2>Hello, <%=user.firstName%></h2> -->
        <section>
            <% let totalPay = 0 %>
            <% let totalLessons = 0 %>
            <% invoice.forEach(invoice => {%>
                <% totalPay += invoice.totalPay
                totalLessons += invoice.totalHours*2 %>
            <%})%>
            <h3>Total Lessons: <%=totalLessons%></h3>
            <h3>Total Pay: $<%=totalPay%></h3>
        </section>
        <section c>
            <% if (user.hourlyRate === 0 && user.lessonCalendarId === 'Please Choose a Calendar') {%>
                <h2>Set your rate and Calendar ID now</h2>
                <button><a href="/accountsettings">Settings</a></button>
               <%} else {%>
                <form action="/newinvoice" method="POST">
                    <input type="date" placeholder="Pay period start" name="payPeriodStart">
                    <input type="date" placeholder="Pay period end" name="payPeriodEnd">
                    <input type="submit" value="Create New Invoice">
                </form>
               <%}%>
        </section>
   </section>

   <section class="flexbox">
    <!-- holds list of invoices and prints details in 25% boxes -->
    <% invoice.forEach(invoice => {%>
        <article>
            <h5><%=invoice.startDate + ' - ' + invoice.endDate%></h5>
            <span>Hours: <%=invoice.totalHours%> (Lessons: <%=invoice.totalHours*2%>)</span> 
            <span>Total Pay: $<%=invoice.totalPay%></span>
            <%if(invoice.holidays) {%>
                <!-- show days that will be excluded -->
            <%}%>
            <span class="fa fa-trash"></span>
            <form action="/invoice" method="get">
                <input type="text" name="invoiceid" value="<%=invoice._id%>" class='hidden'>
                <input type='submit' value="More Info">
            </form>
        </article>
    <%})%>
    </section>
   

   <button><a href="/auth/logout">Log Out</a></button>

   

   <!-- Here I will display all of the invoices the user has generated and a button to generate new invoices
        Invoices will appear in a block format and have basic info - user can click on them to be taken to their specific invoice page with more info -->

<script src="js/main.js"></script>
</body>
</html>